.header__person-data {
  display: flex;
  align-items: center;
  max-width: 772px;
}
.header__img {
  width: 187px;
  height: 187px;
  border-radius: 50%;
  object-fit: cover;
}
.header__name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 32px;
}

.header__job {
  margin-top: 16px;
  color: #fff;
}

.header__btn_back {
  position: absolute;
  top: 32px;  
  left: 0;
  padding: 8px 16px;
  font-size: 1rem;
  color: var(--greyF8);
  border: 1px solid var(--greyF8);
  border-radius: 8px;
}
.main a {
  display: block;
  padding-left: 33px;
  font-size: 16px;
  line-height: 22px;
  background-position-y: center;
}
a[href^="tel"] {
  margin-bottom: 24px;
 
  background-image: url('../../img/tel.png');
  background-repeat: no-repeat;
}

a[href^="mailto"] {
  background-image: url('../../img/envelope.png');
  background-repeat: no-repeat;
}

.main__text {
  width: 630px;
  text-align: left;
}

.main__info, .header__info {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
}
.header__info {
  width: 83%;
}

.main__info {
  width: 80%;
}

.main__paragraph {
  margin-bottom: 35px;
  font-size: 1rem;
}

.main__address {
  width: 272px;
}

@media (width < 756px) {
  h1 {
    font-size: 2rem;
  }

  .header__person-data {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: center;
    gap: 16px;
  }

  .header__name {
    align-items: center;
    margin-left: 0;
  }

  .card-part {
    min-height: 412px;
  }

  .back {
    position: absolute;
    top: 22px;  
    left: 16px;
    width: 40px;
    height: 40px;
    background-image: url('../../img/arrow.svg');
    background-repeat: no-repeat;
    background-position-x: center;
  }

  .main__info {
    flex-direction: column-reverse;
    width: 92%;
  }

  .main__address {
    margin-bottom: 32px;
  }

  .main__text {width: 100%;}
}
