.header__block {
  position: absolute;               
  top: 50%;                         
  transform: translate(0, -50%);  
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;  
  margin: 0;
  color: var(--greyF8);
}

.header__title {
  margin-bottom: 16px;
  font-size: 3.2em;
  color: #fff;
}

.header__text {
  width: 69%;
  text-align: center;
  color: inherit;
}

.exit {
  right: 0;
}
/* @media all and (min-width: 1024px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
} */


