.header {
  width: 100vw;
  height: 265px;
  margin-bottom: 48px;
  background-color: var(--daisyBush);
  color: var(--greyF8);
}

.header .layout {
  position: relative;
}


.header__btn {
  position: absolute;
  top: 32px;  
  right: 0;
  padding: 8px 16px;
  font-size: 1rem;
  color: var(--greyF8);
  border: 1px solid var(--greyF8);
  border-radius: 8px;
}

/* @media all and (min-width: 1024px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
} */


