.header {
  width: 100vw;
  height: 265px;
  margin-bottom: 48px;
  background-color: var(--daisyBush);
  color: var(--greyF8);
}

.header .layout {
  position: relative;
}

.header__btn {
  position: absolute;
  top: 32px;  
  right: 0;
  padding: 8px 16px;
  font-size: 1rem;
  color: var(--greyF8);
  border: 1px solid var(--greyF8);
  border-radius: 8px;
}

@media (width < 500px) {
  .header {
    height: 281px;
    margin-bottom: 29px;
  }
  .exit {
    position: absolute;
    top: 22px;  
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url('../../../img/exit.svg');
    background-repeat: no-repeat;
  }
}


