@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --black:          #151317;
  --daisyBush:      #512689;
  --bossanova:      #512656;
  --whiteLightness: 100%;
  --white:          hsl(0, 0%, var(--whiteLightness));
  --greyF8:         hsl(0, 0%, calc(var(--whiteLightness) - 3%));
}

:hover, button, svg circle, div, .settings-block {
  transition: .3s ease-in-out;
}

* {
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

body, body * {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
}
body {
  min-width: 320px;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

img { 
  max-width: 100%;
  
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

input {
  width: min-content;
}

h1 {
  font-size: 64px;
  color: #fff;
}

button:disabled {
  cursor:not-allowed;
}

.active {
  fill: var(--daisyBush);
} 

.active path {
  stroke: var(--daisyBush);
}

@media (width < 756px) {
  h1 {
    font-size: 32px;
  }
}